<ul>
  <% @group_list.each do |group| %>
    <a href="/groups/<%= group.id %>">
      <li>
        <h2>
          <%= group.name %>
        </h2>
        <p>
          <%= group.about %>
        </p>
      </li>
    </a>
  <% end %>
</ul>

<% content_for :header_links do %>
  <div>
    <% if session[:logged_in] %>
      <em>Signed in as <%= session[:username] %>.</em>
      <form class="inline" method="post" action="/logout">
        <button type="submit">Sign Out</button>
      </form>
    <% else %>
      <form method="get" action="/login">
        <button type="submit">Sign In</button>
      </form>
    <% end %>
  </div>

  <a href="/game_list">Games</a>
<% end %>
