<a class="orange-link" href="/groups/<%= @group.id %>/schedule">📅 Back to Week View</a>

<h2>
  &#128198; Sunday
</h2>

<% content_for :login_links do %>
  <% if session[:logged_in] %>
    <em>&#128075;<%= session[:username] %></a></em>
    <form class="inline" method="post" action="/logout">
      <button type="submit">Sign Out</button>
    </form>
  <% else %>
    <form method="get" action="/login">
      <button type="submit">Sign In</button>
    </form>
  <% end %>
<% end %>

<% content_for :header_links do %>
  <a class="orange-link" href="/game_list">&#127992; Games</a>
  <a class="orange-link" href="/group_list">&#128101; Groups</a>
  <% if session[:logged_in] %>
    <li>
      <a class="orange-link" href="/players/<%= session[:player_id] %>">&#128100; Profile</a>
    </li>
  <% end %>
<% end %>
