<% if session[:logged_in] %>
  <a class="orange-link" href="/groups/create">&#10133; Create Group</a>
<% end %>

<ul id="red-list">
  <% @group_list.each do |group| %>
    <% next if group.name.empty? %>
    <a href="/groups/<%= group.id %>">
      <li>
        <h2>
          <%= group.name %>
        </h2>
        <br>
          <%= group.about %>
      </li>
    </a>
  <% end %>
</ul>
