<ul id="red-list">
  <% @group_list.each do |group| %>
    <a href="/groups/<%= group.id %>">
      <li>
        <h2>
          <%= group.name %>
        </h2>
        <br>
          <%= group.about %>
      </li>
    </a>
  <% end %>
</ul>
