<h2>Account Login</h2>

<p>
  <form method="post" action="/login">
    <div>
      <label for="username">Username:</label>
        <input name="username" type="text">
    </div>

    <div>
      <label for="password">Password:</label>
        <input name="password" type="password">
    </div>

    <button type="submit">Sign In</button>
  </form>
</p>

<p>
  Don't have an account? <a class="orange-link" href="/register">Register an account.</a>
</p>
