<h2>Account Registration</h2>

<p>
  <form method="post" action="/register">
    <div>
      <label for="username">Username:</label>
        <input name="username" type="text" class="inline">
        <br>
        Must consist of only letters and numbers, and must be between 4-10 characters.
    </div>

    <br>

    <div>
      <label for="password">Password:</label>
        <input name="password" type="password" class="inline">
        <br>
        Cannot contain spaces and must be between 4-10 characters.
    </div>

    <button type="submit">Register</button>
  </form>
</p>
