html {
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: rgb(22, 102, 146);
  border-radius: 900px;
  border-style: solid;
  border-width: 0;
  color: rgb(232, 230, 227);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  margin: 10px 0 10px 0;
  padding: 1rem;
  position: relative;
  text-align: center;
}

nav {
  font-size: 1.2rem;
}

p {
  margin: 0 0 35px 0;
}

body {
  font: normal 1rem 'ArialRounded', Helvetica, Arial, sans-serif;
  margin: 0 20px 0 20px;
}

body > header {
  max-width: 1000px;
  margin: 0 auto;
}

body > header h1 {
  display: inline-block;
  font-size: 1.4rem;
  color: #dd5f4f;
}

main {
  font-size: 1.1rem;
  max-width: 1000px;
  padding: 0 0 40px 0;
  margin: 0 auto;
}

select {
  font-size: 0.8rem;
}

textarea {
  display: block;
  font-size: 1.1rem;
  width: 100%;
}

table {
  width: 100%;
}

form dt {
  padding: 0 0 25px 0;
}

form dd {
  padding: 0 0 15px 0;
}

form input {
  font: normal 1rem 'ArialRounded', Helvetica, Arial, sans-serif;
  border: 1px solid #a4a4a4;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 15px 20px;
  width: 100%;
}

label {
  display: inline-block;
  margin: 10px 0 10px 0;
}

nav li {
  box-sizing: border-box;
  display: inline-block;
}

ul {
  margin: 0 0 35px 0
}

footer {
  border-top: 2px solid #efefef;
  font-size: 0.8em;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px
}

.account {
  display: inline-block;
}

.account form {
  display: inline-block;
}

.orange-link {
  color: #f25858;
}

.flash {
  background: #CBE5F2;
  color: #3399cc;
  margin: 20px auto 1.5em auto;
  max-width: 960px;
  padding: 10px 20px;
}

.flash p {
  font-size: 1rem;
  font-weight: bold;
}

.flash.error {
  background: #FFCFBF;
  color: #ff6633;
}

.flash.success {
  background: #CBF2E5;
  color: #33cc99;
}

#red-list li {
  background: #f6f6f6;
  margin: 0 0 10px 0;
  position: relative;
  padding: 20px;
}

#red-list p {
  float: right;
  text-align: right;
}

#players header {
  border-radius: 6px;
  background: #f6f6f6;
  padding: 15px 20px;
}

#players header h2 {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}


#players header ul {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: 49%;
}

#players header ul li {
  display: inline-block;
  margin: 0 0 0 40px;
}

#players > ul {
  padding: 10px 0 50px 0;
}

#players > ul li {
  position: relative;
  padding: 10px 0;
  margin: 0 0 25px 60px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 48px;
  }

  .hero {
    display: inline-block;
    width: 60%;
  }
}

@media screen and (min-width: 1025px) {
  html {
    font-size: 16px;
  }

  .hero {
    display: inline-block;
    width: 80%;
  }
}
