a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: rgb(22, 102, 146);
  cursor: pointer;
  color: rgb(232, 230, 227);
  border-radius: 1000px;
  padding: 0.875rem 1rem 0.9375rem 1rem;
  font-size: 0.8125rem;
  border-color: rgb(66, 71, 74);
  letter-spacing: 0.125rem;
  display: inline-block;
  border-style: solid;
  border-width: 0;
  font-family: "AvenirNext", "myriad-pro", "myriad pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: bold;
  line-height: normal;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 300ms ease-out;
  margin: 10px 0 10px 0;
}

p {
  margin: 0 0 35px 0;
}

body {
  font: normal 20px "PT Sans", Helvetica, Arial, sans-serif;
  color: #3f3f3f;
  background: #ffffff;
}

body > header {
  max-width: 1000px;
  padding: 0px 0 10px 0;
  margin: 0 auto;
}

body > header h1 {
  display: inline-block;
  width: 38%;
  font-size: 30px;
  color: #dd5f4f;
}

main {
  max-width: 1000px;
  padding: 0 0 40px 0;
  margin: 0 auto;
}

form dt {
  padding: 0 0 25px 0;
}

form dd {
  padding: 0 0 15px 0;
}

form input[type="text"] {
  width: 100%;
  height: 58px;
  padding: 15px 20px;
  font: normal 20px "PT Sans", Helvetica, Arial, sans-serif;
  border: 1px solid #a4a4a4;
  border-radius: 8px;
  box-sizing: border-box;
}

form input[type="submit"] {
  padding: 12px 45px;
  margin: 0 40px 0 0;
  font: normal 24px "PT Sans", Helvetica, Arial, sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  background: #dd5f4f;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transition: background-color 200ms ease;
  -moz-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
}

form input[name="username"] {
  width: 100%;
  height: 48px;
}

form input[name="password"] {
  width: 100%;
  height: 48px;
}

form input[type="submit"]:hover {
  background-color: #d13b28;
  cursor: pointer;
}

form fieldset.actions a {
  color: #666666;
  -webkit-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -o-transition: color 200ms ease;
}

form fieldset.actions a:hover {
  color: #b00b00;
}

nav li {
  box-sizing: border-box;
  display: inline-block;
}

ul {
  margin: 0 0 35px 0
}

.hero {
  display: inline-block;
  width: 70%;
}

.orange-link {
  color: #f25858;
}

#login-links {
  display: inline-block;
  width: 20%;
  text-align: right;
}

.flash {
  max-width: 960px;
  padding: 10px 20px;
  margin: 20px auto 1.5em auto;
  color: #3399cc;
  background: #CBE5F2;
}

.flash p {
  font-size: 14px;
  font-weight: bold;
}

.flash.error {
  color: #ff6633;
  background: #FFCFBF;
}

.flash.success {
  color: #33cc99;
  background: #CBF2E5;
}

#no_list {
  padding: 128px 0 0 0;
  text-align: center;
  background: transparent url("../images/arrow_new_list.png") 85% 0 no-repeat;
}

#red-list li {
  position: relative;
  padding: 18px 25px 18px 57px;
  margin: 0 0 10px 0;
  border-radius: 8px;
  background: #f6f6f6;
}

#red-list li:before {
  position: absolute;
  top: 50%;
  left: 23px;
  z-index: 1;
  width: 16px;
  height: 16px;
  margin: -8px 0 0 0;
  content: "";
  border-radius: 100%;
  background: #dd5f4f;
}

#red-list li.complete p {
  color: #bebebe;
}

#red-list a {
  display: block;
  color: inherit;
  overflow: hidden;
}

#red-list h2 {

  float: left;
}

#red-list p {
  float: right;

  font-size: 1em;
  text-align: right;
  color: #666666;
}

#players header {
  padding: 15px 20px;
  border-radius: 6px;
  background: #f6f6f6;
}

#players header h2 {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

@media screen and (max-width: 650px) {
  #players header h2 {
    display: block;
    width: auto;
    padding: 0 0 15px 0;
  }
}

#players header ul {
  display: inline-block;
  width: 49%;
  text-align: right;
  vertical-align: middle;
}

@media screen and (max-width: 650px) {
  #players header ul {
    display: block;
    width: auto;
    text-align: left;
  }
}

#players header ul li {
  display: inline-block;
  margin: 0 0 0 40px;
}

@media screen and (max-width: 650px) {
  #players header ul li {
    margin: 0 40px 0 0;
  }
}

#players > ul {
  padding: 10px 0 50px 0;
}

#players > ul li {
  position: relative;
  padding: 10px 0;
  margin: 0 0 25px 60px;
  border-bottom: 1px solid #d7d7d7;
}

#players > ul li a {
  position: absolute;
  z-index: 1;
  top: 50%;
  overflow: hidden;
  text-indent: -8685px;
}

#players > ul li form {
  position: absolute;
  top: 50%;
  z-index: 1;
}

#players > ul li .check {
  left: -45px;
  height: 30px;
  margin: -15px 0 0 0;
}

#players > ul li .check [type="submit"] {
  height: 28px;
  width: 28px;
  color: transparent;
  border: 1px solid #666666;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
}

#players > ul li .check [type="submit"]:hover {
  border-color: #dd5f4f;
}

#players > ul li.complete h3 {
  color: #bebebe;
  text-decoration: line-through;
}

footer {
  border-top: 2px solid #efefef;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px
}
